---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- 404 -->
    <section class="flex flex-col justify-center items-center text-center px-4" style="height: 80vh;">
      <h1 class=" font-bold mb-4 heavitas text-[#B41A1D] text-[5em]" style="font-size: 6em;">404</h1>
      <p class="text-xl mb-8">Lo sentimos, la página que buscas no existe.</p>
      <a href="/" class="text-white bg-[#B41A1D] px-6 py-3 rounded-full hover:bg-[#9e1618] transition">Volver al inicio</a>
    </section>
</Layout>